<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: main-header">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="fragments :: sidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments :: topbar"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <form enctype="multipart/form-data" th:action="@{save-product}" th:object="${productDto}" method="post"  class="form-horizontal">
                        <fieldset>

                            <!-- Form Name -->
                            <legend>Add Product</legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="name">PRODUCT NAME</label>
                                <div class="col-md-4">
                                    <input th:field="*{name}" id="name" name="name" class="form-control input-md" required="" type="text">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="price">PRICE</label>
                                <div class="col-md-4">
                                    <input th:field="*{price}" id="price" name="price" class="form-control input-md" required="" type="text">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="sale">SALE</label>
                                <div class="col-md-4">
                                    <input th:field="*{sale}" id="sale" name="sale" class="form-control input-md" required="" type="text">

                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="brand">BRAND</label>
                                <div class="col-md-4">
                                    <select id="brand" name="brand" class="form-control">
                                        <option value="null">Select</option>
                                        <option value="Toyota">Toyota</option>
                                        <option value="Chevrolet">Chevrolet</option>
                                        <option value="Mercedes-Benz">Mercedes-Benz</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="color">COLOR</label>
                                <div class="col-md-4">
                                    <select id="color" name="color" class="form-control">
                                        <option value="null">Select</option>
                                        <option value="Black">Black</option>
                                        <option value="White">White</option>
                                        <option value="Red">Red</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="categories">PRODUCT CATEGORY</label>
                                <div class="col-md-4">
                                    <select th:field="*{category}" id="categories" name="categories" class="form-control">
                                        <option th:value="null">Select</option>
                                        <option th:each="category : ${categories}"
                                                th:value="${category.id}"
                                                th:text="${category.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="description">PRODUCT DESCRIPTION</label>
                                <div class="col-md-4">
                                    <input th:field="*{description}" id="description" name="product_name_fr" class="form-control input-md" required="" type="text">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="currentQuantity">CURRENT QUANTITY</label>
                                <div class="col-md-4">
                                    <input th:field="*{currentQuantity}" id="currentQuantity" name="currentQuantity" class="form-control input-md" required="" type="text">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <!-- File Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="productImage">IMAGE PRODUCT</label>
                                    <div class="col-md-4">
                                        <input id="productImage" name="productImage" class="input-file" type="file">
                                    </div>
                                </div>
                            </div>

                            <!-- Save Button -->
                            <div class="form-group col-md-4">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- End Page Content -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="fragments :: footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="fragments :: scroll">
    </a>

    <!-- Logout Modal-->
    <div th:replace="fragments :: logoutModal"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{js/sb-admin-2.min.js}"></script>

    <!--  My script  -->
    <script th:src="@{js/categories.js}"></script>
</body>

</html>