<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments :: header">

</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="fragments :: main-top"></div>
    <!-- End Main Top -->

    <!-- Start Main Header -->
    <div th:replace="fragments :: main-header"></div>
    <!-- End Main Header -->

    <!-- Start Top Search -->
    <div th:replace="fragments :: top-search"></div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div th:replace="fragments :: slider"></div>
    <!-- End Slider -->

   

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/intro.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">We are <span>VieCars</span></h2>
                    <p>VieCars is our only business. Find cars for sale, local dealers, and advice. Also, our price-badging and price-drop notifications keep you informed of potential deals.</p>
                    <p>Check out our free, secure methods for selling your car. You can either sell directly to a private-party shopper or get an Instant Offer from a dealership. Choose the option that’s right for you!</p>
					<p>Our cars is both classic and modern featuring lighter items to indulgent cars presentations like hybrid, sports, electric,...
                        We deliver more than just incredible cars: We create remarkable experiences.</p>
                    <a class="btn hvr-hover" href="#">Read More</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p>VieCars deals only with high-end processors and reliable importers.
                            We handle quality products that we would serve to our friends and family. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p>Here, guests are invited on an adventure in great car. We will create a great experience for you.
                            We deliver more than just incredible car: We create remarkable experiences.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p>We Have spent many years in the car business, we know where to find the best products.
                            Our menu is both classic and modern featuring lighter items to indulgent seafood presentations like hybrid, spots, electric,... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
            

    <!-- Start Feed  -->
    <!-- End Feed  -->


    <!-- Start Footer  -->
    <div th:replace="fragments :: footer"></div>
            

    <!-- ALL JS FILES -->
    <div th:replace="fragments :: script"></div>
</body>

</html>