<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments :: header">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
<!-- Start Main Top -->
<div th:replace="fragments :: main-top"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<div th:replace="fragments :: main-header"></div>
<!-- End Main Top -->

<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->


<!-- Start All Title Box -->
<div th:replace="fragments :: slider"></div>
<!-- End All Title Box -->

<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"><img class="d-block w-100"
                                                               th:src="*{'data:image/jpeg;base64,' + product.image}"
                                                               alt="First slide"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="single-product-details">
                    <h2 th:text="${product.name}"></h2>
                    <h5 th:text="'$' + ${product.price}"></h5>
                    <h4>Category:</h4>
                    <h5 th:text="${product.category.name}"></h5>
                    <h4>Brand:</h4>
                    <h5 th:text="${product.brand}"></h5>
                    <h4>Color:</h4>
                    <h5 th:text="${product.color}"></h5>
                    <h4>Short Description:</h4>
                    <p th:text="${product.description}"></p>
                    <form th:action="@{/add-to-cart}" method="post">
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <input type="hidden" th:value="${product.id}" name="id">
                                <button type="submit" class="btn hvr-hover text-uppercase text-white" data-fancybox-close="">Add to cart</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <h1>Related Products</h1>
            </div>
            <div class="featured-products-box owl-carousel owl-theme">
                <div class="item" th:each="relatedProduct : ${relatedProducts}">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img th:src="*{'data:image/jpeg;base64,' + relatedProduct.image}" class="img-fluid"
                                     alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a th:href="@{'/find-product/' + ${relatedProduct.id}}" data-toggle="tooltip"
                                               data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    </ul>
                                    <form th:action="@{/add-to-cart}" method="post">
                                        <div class="price-box-bar">
                                            <div class="cart-and-bay-btn">
                                                <input type="hidden" th:value="${relatedProduct.id}" name="id">
                                                <button type="submit" class="btn hvr-hover text-uppercase text-white" data-fancybox-close="">Add to cart</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4 th:text="${relatedProduct.name}"></h4>
                                <h5 th:text="${'$' + relatedProduct.price}"></h5>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<!-- End Cart -->

<!-- Start Feed  -->
<!-- End Feed  -->


<!-- Start Footer  -->
<div th:replace="fragments :: footer"></div>
<!-- End Footer  -->


<!-- ALL JS FILES -->
<div th:replace="fragments :: script"></div>
</body>

</html>